@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    line-height: 1.5;
    background: linear-gradient(to bottom, #a8dadc, #f1faee);
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

header {
    width: 100%;
    background-color: #004d40;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}
 .logo-container {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
}

.logo-text {
    margin-left: 10px;
    font-size: 1.2rem;
    color: #a8dadc;
    font-weight: bold;
}

header ul {
    display: flex;
    list-style: none;
}

header ul li {
    margin-left: 20px;
}

header ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    transition: color 0.3s ease;
}

header ul li a:hover {
    color: #457b9d;
}

.container {
    margin-top: 125px;
    margin-bottom: 100px;
    padding: 2rem;
    background-color: rgb(37, 34, 34);
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
    text-align: center;
} .display input {
    width: 100%;
    padding: 15px;
    font-size: 1.5rem;
    text-align: right;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
}

.btn {
    padding: 15px;
    font-size: 1.2rem;
    cursor: pointer;
    border: none;
    background-color: #f1f1f1;
    border-radius: 8px;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.btn:hover {
    background-color: #457b9d;
    color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.btn:active {
    background-color: #1d3557;
    transform: scale(0.95);
}

footer {
    width: 100%;
    background-color: #004d40;
    color: white;
    text-align: center;
    padding: 1rem 0;
    margin-top: auto;
    font-size: 0.9rem;
    position: fixed;
    bottom: 0;
    left: 0;
}

footer a {
    color: #a8dadc;
    text-decoration: none;
    font-weight: 500;
}

footer a:hover {
    text-decoration: underline;
}